FILE                      = /opt/ibm/db2/V11.5

INSTANCE                  = DB2_INST
DB2_INST.NAME             = {{inst_name}}
DB2_INST.GROUP_NAME       = {{inst_name}}
DB2_INST.FENCED_USERNAME  = {{inst_name}}
DB2_INST.FENCED_GROUP_NAME = {{inst_name}}

DB2_INST.PORT_NUMBER      = {{inst_port}}

DB2_INST.START_DURING_INSTALL = YES